.essential-product {
    margin-top: 2rem;
    height: 330px;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.essential-product img {
    max-width: 190px;
    transition: transform .2s ease-in;
}

.essential-product img:hover {
    transform: scale(1.1);
}

.price-wrapper {
    margin-top: .8rem;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}

.product-new-price {
    font-size: 16px;
    color: #004E36;
}

.product-old-price {
    font-weight: normal;
    font-size: 12px;
    text-decoration: line-through;
}

.product-name {
    max-width: 150px;
}
.essential-product button {
    margin-top: 1rem;
    color: white;
    background-color: #004E36;
    width: 60px;
    padding: 10px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.essential-product button:hover {
    background-color: #043828;
}



